
include README.md
include example.py
include example.html

include flaskext/templates/googlemaps/gmapjs.html
include flaskext/templates/googlemaps/gmap.html

recursive-include flaskext/templates/googlemaps  *
