<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

<style type="text/css">
      #{{gmap.identifier}} { {{gmap.style}} }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing"></script>
<script type="text/javascript">
    function initialize_{{gmap.varname}}() {
        var {{gmap.varname}} = new google.maps.Map(
        document.getElementById('{{gmap.identifier}}'), {
            center: new google.maps.LatLng({{gmap.center.0}}, {{gmap.center.1}}),
            zoom: {{gmap.zoom}},
            mapTypeId: google.maps.MapTypeId.{{gmap.maptype}}
        });

        var infoWindow =  new google.maps.InfoWindow({
            content: "loading..."
        });

        {% for marker in gmap.markers %}
            var marker_{{loop.counter}} = new google.maps.Marker({
                position: new google.maps.LatLng({{marker.0}}, {{marker.1}}),
                map: {{gmap.varname}},
                title: '{{marker.2}}',
                icon: '{{marker.3}}',
            });

            google.maps.event.addListener(marker_{{loop.counter}}, 'click', function() {
                infoWindow.setContent('{{marker.4}}');
                infoWindow.open({{gmap.varname}}, this);
            });
        {% endfor %}

        {% for polyline in gmap.polylines %}
            var polylineCoordinates = [];

            {% for point in polyline.coordinates %}
                polylineCoordinates.push(new google.maps.LatLng({{point.0}}, {{point.1}}))
            {% endfor %}

            var polylinePath = new google.maps.Polyline({
                path: polylineCoordinates,
                geodesic: true,
                strokeColor: '{{polyline.stroke_color}}',
                strokeOpacity: '{{polyline.stroke_opacity}}',
                strokeWeight: '{{polyline.stroke_weight}}'
            });

            polylinePath.setMap({{gmap.varname}});
        {% endfor %}

        {% for polygon in gmap.polygons %}
            var polygonCoordinates = [];

            {% for point in polygon.coordinates %}
                polygonCoordinates.push(new google.maps.LatLng({{point.0}}, {{point.1}}))
            {% endfor %}

            var polygonPath = new google.maps.Polygon({
                path: polygonCoordinates,
                strokeColor: '{{polygon.stroke_color}}',
                strokeOpacity: '{{polygon.stroke_opacity}}',
                strokeWeight: '{{polygon.stroke_weight}}',
                fillColor: '{{polygon.fill_color}}',
                fillOpacity: '{{polygon.fill_opacity}}'
            });

            polygonPath.setMap({{gmap.varname}});
        {% endfor %}

        {% for circle in gmap.circles %}
            var circleCenter = new google.maps.LatLng({{circle.center.0}}, {{circle.center.1}});

            var gCircle = new google.maps.Circle({
                strokeColor: '{{circle.stroke_color}}',
                strokeOpacity: '{{circle.stroke_opacity}}',
                strokeWeight: '{{circle.stroke_weight}}',
                fillColor: '{{circle.fill_color}}',
                fillOpacity: '{{circle.fill_opacity}}',
                center: circleCenter,
                radius: {{circle.radius}}
            });

            gCircle.setMap({{gmap.varname}});
        {% endfor %}

        if('{{gmap.drawing}}' == "True") {
            var drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: google.maps.drawing.OverlayType.MARKER,
            drawingControl: true,
            drawingControlOptions: {
              position: google.maps.ControlPosition.TOP_CENTER,
              drawingModes: [
                google.maps.drawing.OverlayType.MARKER,
                google.maps.drawing.OverlayType.CIRCLE,
                google.maps.drawing.OverlayType.POLYGON,
                google.maps.drawing.OverlayType.POLYLINE,
                google.maps.drawing.OverlayType.RECTANGLE
              ]
            },
            circleOptions: {
              fillColor: '#ffff00',
              fillOpacity: 1,
              strokeWeight: 5,
              clickable: false,
              editable: true,
              zIndex: 1
            }
          });
          drawingManager.setMap({{gmap.varname}});
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize_{{gmap.varname}});
</script>
