
{%  if not is_googlemaps_loaded()  %}
    {% if GOOGLEMAPS_KEY %}
        <script src="//maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_KEY}}" type="text/javascript"></script>
    {%  else %}
        <script src="//maps.googleapis.com/maps/api/js" type="text/javascript"></script>
    {%  endif %}
    <script type="text/javascript">
        function add_marker(map_struct, new_marker) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(new_marker.lat, new_marker.lng),
                map: map_struct.map,
                icon: new_marker.icon,
                title: new_marker.title ? new_marker.title : null
            });
            if(new_marker.infobox) {
                google.maps.event.addListener(
                    marker,
                    'click',
                    getInfoCallback(map_struct, new_marker.infobox)
                );
            }
            if (map_struct.markerCluster) {
                map_struct.markerCluster.addMarker(marker);
            }
            map_struct.markers.push(marker);
        }
        function add_rectangle(map_struct, new_rectangle) {
            var rectangle = new google.maps.Rectangle({
                strokeColor: new_rectangle.stroke_color,
                strokeOpacity: new_rectangle.stroke_opacity,
                strokeWeight: new_rectangle.stroke_weight,
                fillColor: new_rectangle.fill_color,
                fillOpacity: new_rectangle.fill_opacity,
                map: map_struct.map,
                bounds: {
                    north: new_rectangle.bounds.north,
                    east: new_rectangle.bounds.east,
                    south: new_rectangle.bounds.south,
                    west: new_rectangle.bounds.west },
            });
            if(new_rectangle.infobox) {
                google.maps.event.addListener(
                    rectangle,
                    'click',
                    getInfoCallback(map_struct, new_rectangle.infobox)
                );
            }
            map_struct.rectangles.push(rectangle);
        }
        function add_circle(map_struct, new_circle) {
            var circle = new google.maps.Circle({
                strokeColor: new_circle.stroke_color,
                strokeOpacity: new_circle.stroke_opacity,
                strokeWeight: new_circle.stroke_weight,
                fillColor: new_circle.fill_color,
                fillOpacity: new_circle.fill_opacity,
                map: map_struct.map,
                center: {
                    lat: new_circle.center.lat,
                    lng: new_circle.center.lng,
                },
                radius: new_circle.radius
            });
            if(new_circle.infobox) {
                google.maps.event.addListener(
                    circle,
                    'click',
                    getInfoCallback(map_struct, new_circle.infobox)
                );
            }
            map_struct.circles.push(circle);
        }
        function add_polygon(map_struct, new_polygon) {
            var polygon = new google.maps.Polygon({
                strokeColor: new_polygon.stroke_color,
                strokeOpacity: new_polygon.stroke_opacity,
                strokeWeight: new_polygon.stroke_weight,
                fillOpacity: new_polygon.fill_opacity,
                fillColor: new_polygon.fill_color,
                path: new_polygon.path,
                map: map_struct.map,
                geodesic: true
            });
            if(new_polygon.infobox) {
                google.maps.event.addListener(
                    polygon,
                    'click',
                    getInfoCallback(map_struct, new_polygon.infobox)
                );
            }
            map_struct.polygons.push(polygon);
        }
        function add_polyline(map_struct, new_polyline) {
            var polyline = new google.maps.Polyline({
                strokeColor: new_polyline.stroke_color,
                strokeOpacity: new_polyline.stroke_opacity,
                strokeWeight: new_polyline.stroke_weight,
                path: new_polyline.path,
                map: map_struct.map,
                geodesic: true
            });
            if(new_polyline.infobox) {
                google.maps.event.addListener(
                    polyline,
                    'click',
                    getInfoCallback(map_struct, new_polyline.infobox)
                );
            }
            map_struct.polylines.push(polyline);
        }
        function getInfoCallback(map_struct, content) {
            var infowindow = new google.maps.InfoWindow({content: content});
            //infowindow.setContent(content);
            return function(ev) {
                if (map_struct.prev_infowindow) {
                    map_struct.prev_infowindow.close();
                }
                map_struct.prev_infowindow = infowindow;
                infowindow.setPosition(ev.latLng);
                infowindow.open(map_struct.map, this);
            };
        }
    </script>
    {{ set_googlemaps_loaded() }}
{% endif %}

{% if gmap.cluster %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js" type="text/javascript"></script>
{%  endif %}


<style type="text/css">
      #{{gmap.identifier}} { {{gmap.style}} }
</style>

<script type="text/javascript">
    var {{gmap.varname}} = {};

    {{gmap.varname}}.map = null;
    {{gmap.varname}}.id = "{{gmap.identifier}}";
    {{gmap.varname}}.markers = [];
    {{gmap.varname}}.rectangles = [];
    {{gmap.varname}}.circles = [];
    {{gmap.varname}}.polygons = [];
    {{gmap.varname}}.polylines = [];

    {{gmap.varname}}.initialize = function() {
        document.getElementById('{{gmap.identifier}}').style.display = 'block';
        {{gmap.varname}}.map = new google.maps.Map(
            document.getElementById('{{gmap.identifier}}'), {
            center: new google.maps.LatLng({{gmap.center.0}}, {{gmap.center.1}}),
            zoom: {{gmap.zoom}},
            mapTypeId: google.maps.MapTypeId.{{gmap.maptype}},
            zoomControl: {% if gmap.zoom_control %}true{% else %}false{% endif %},
            mapTypeControl: {% if gmap.maptype_control %}true{% else %}false{% endif %},
            scaleControl: {% if gmap.scale_control %}true{% else %}false{% endif %},
            streetViewControl: {% if gmap.streetview_control %}true{% else %}false{% endif %},
            rotateControl: {% if gmap.rotate_control %}true{% else %}false{% endif %},
            fullscreenControl: {% if gmap.fullscreen_control %}true{% else %}false{% endif %}
        });

        {% if gmap.cluster %}
            {{gmap.varname}}.markerCluster = new MarkerClusterer({{gmap.varname}}.map, {{gmap.varname}}.markers, {'imagePath': "{{gmap.cluster_imagepath}}", 'gridSize': {{gmap.cluster_gridsize}}});
        {% endif %}

        // add gmap markers
        {{ gmap.markers|tojson|safe }}.forEach(function(el) {
            add_marker({{gmap.varname}}, el);
        });

        // add rectangles
        {{ gmap.rectangles|tojson|safe }}.forEach(function(el) {
            add_rectangle({{gmap.varname}}, el);
        });

        // add circles
        {{ gmap.circles|tojson|safe }}.forEach(function(el) {
            add_circle({{gmap.varname}}, el);
        });

        // add polygons
        {{ gmap.polygons|tojson|safe }}.forEach(function(el) {
            add_polygon({{gmap.varname}}, el);
        });

        // add polylines
        {{ gmap.polylines|tojson|safe }}.forEach(function(el) {
            add_polyline({{gmap.varname}}, el);
        });
    }
    
    {% if gmap.collapsible %}
        function init_{{gmap.identifier}}_button() {
            document.getElementById('{{gmap.identifier}}').style.display = 'none';
            document.getElementById('{{gmap.varname}}_collapse').onclick = function() {
            if ({{gmap.varname}}.map === null) {
                    {{gmap.varname}}.initialize();
                    document.getElementById('{{gmap.varname}}_collapse').textContent = "Hide map";
                } else {
                    var m = document.getElementById('{{gmap.identifier}}');
                    if (m.style.display !== 'none') {
                        m.style.display = 'none';
                        document.getElementById('{{gmap.varname}}_collapse').textContent = "Show map";
                    } else {
                        m.style.display = 'block';
                        document.getElementById('{{gmap.varname}}_collapse').textContent = "Hide map";
                    }
                }
            }
        };
        if (typeof window.onload === 'function') {
            func = window.onload;
            window.onload = function() {
                func();
                init_{{gmap.identifier}}_button();
            }
        } else {
            window.onload = init_{{gmap.identifier}}_button;
        }
    {% else %}
        google.maps.event.addDomListener(window, 'load', {{gmap.varname}}.initialize);
    {% endif %}

</script>
